# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Flask
instance/

# SQLite database
*.db

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db
Desktop.ini